.wrapper {


   <style>
    
    body{
    	
      text-align: center;
    }
    
    
    #grid{
    	
      display: grid;
      grid-template-columns: 400px 400px 400px;
      grid-template-rows: 400px 400px 400px;
      
    }
    #one{
    	
      background: turquoise;
     grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start:1;
      grid-row-end: 4;
    }
    
    #two{
    	background: hotpink;
      grid-column-start: 2;
      grid-column-end:4;
      grid-row-start:3;
      grid-row-end: 1;
    }
    
    #three {
    	background: white; 
      grid-row-start: 1;
      grid-row-end:3;
      grid-column-start:3;
      grid-column-end:4;
    }
    
    
    #four{
    	background:red;
      grid-row-start: 2;
      grid-row-end:4;
      grid-column-start:1;
      grid-column-end:4;
     
     
    }
    
    #five{
    	background: yellow;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start:1;
      grid-row-end:2;
    }
   #six{
    	background:darkseagreen;
			grid-column-start:2;
      grid-column-end:4;
     	grid-row-start:1;
      grid-row-end:3;
     
    }
    
    #seven{
      background: brown;
      grid-row-start: 4;
      grid-row-end:5;
      grid-column-start:2;
      grid-column-end:4;
    
    }
      #eight{
      	background: lightblue;
      grid-row-start: 3;
      grid-row-end 4;
      grid-column-start:1;
      grid-column-end:3;
    }
    
    #nine{
    	background:orange;
       grid-row-start: 2;
      grid-row-end:5;
      grid-column-start:3;
      grid-column-end:3;
    }
    
    #ten{
    	background: lightpink;
      grid-column-start:1;
      grid-column-end:2;
     	grid-row-start:1;
      grid-row-end:2;
     
    }
    
  </style>
</head>
<body>

  <h1>Grids! Demo</h1>
  
  <div id="grid">
    
    <div id="one">1</div>
      <div id="two">2</div>
      <div id="three">3</div>
      <div id="four">4</div>
      <div id="five">5</div>
      <div id="six">6</div>
     <div id="seven">7</div>
     <div id="eight">8</div>
     <div id="nine">9</div>
    <div id="ten">10</div>
    
    
  </div>
  
</body>
</html>
